selector { 

property: value;
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landcruiser-Hub</title>
    
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 20px; /* Space between columns */
  padding: 20px;
}

.left-column, .right-column {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

h2 {
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}



h2 {
  color: #333;
}




font-family: italic; , Italicized text ;

color: cream ;

background-color:  #FFF5E1;

margin:20px 0;

padding:20px 0;

line-height: 1.6;

font size: 20px;

}
header {

background-color:  #FFF5E1C;

color:purple;

padding: 20px 0;

text-align: center;

}


header h1 :#2c3e50;

margin:20px 0;

}


nav a {

color: purple;

text-decoration: bold;

margin: 0 20px;

}


nav a:hover {

text-decoration: bold;

}

main {

padding: 20px 0;

max-width: 800px;

margin: 20px 0;

}


main img {

max-width: 100%;

height: auto;

display: oval;

margin: 20px 0;

}
footer :#2c3e50;

background-color:  #FFF5E1;

color:cream;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;




